@import '../../styles/options.scss';

.background {
  background: url(https://solea-parent.dfs.ivi.ru/picture/bypass/teaserTilePattern_a.svg);
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.75;
  transition: 0.5s;

  &:hover {
    opacity: 1;
  }
}

.description {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
}