@import "../../../styles/options.scss";
.select {
  width: auto;
  margin: 0;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: "";
  text-transform: uppercase;
  &:hover {
    border-color: white;
    transition-property: border-color;
    box-shadow: -1px 1px 10px 2px $colorText;
    transition-duration: 0.4s;
    color: #ffffff;
  }
}
.text-shadow {
  text-shadow: 0px 0px 0.8px black, 0px 0px 0.8px black, 0px 0px 0.8px black,
    0px 0px 0.8px black, 0 0 0.8px black;
}
