$bgc-button: #ea003d;
$bg-color: rgba(47, 55, 61, 095);
$colorText: rgba(255,255,255,.48);
$colorTextAccent: rgba(255,255,255,.56);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: $bg-color;
  color: $colorText;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
}