$bgc-button: #ea003d;
$bg-color: rgba(47, 55, 61, 095);
$colorText: rgba(255, 255, 255, 0.25);
$colorTextAccent: rgba(255,255,255,.56);
$indentApp: 8.5%;
$colorHeaderActive: rgba(31,27,46, 1);
$colorElementHeader: rgba(49,43,69, 1);
$colorElementHeaderHover: rgb(54, 47, 80);

@mixin title-h1 {
  font-size: 42px;
  line-height: 44px;
  font-weight: 700;
  color: #fff;
}