@import '../../styles/options.scss';

.movie-filter {
  // position: absolute;
  width: 100%;
  // overflow: hidden;
  z-index: 1;

  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid $colorElementHeaderHover;
  border-radius: 15px;
  background-color: $colorHeaderActive;
  transition: .5s;
  animation: filter 0.3s;
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__reset {
    cursor: pointer;
  }
}

@keyframes filter {
  0% {
    height: 0;
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
}