@import '../../../styles/options.scss';

.my-button {
  background-color: $bgc-button;
  border: none;
  height: 32px;
  border-width: 1px;
  border-radius: 8px;
  padding: 7px 11px;
  cursor: pointer;
  opacity: 0.75;

  color: #fff;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  transition-duration: 1s;

  &[disabled] {
    transition-duration: 1s;
    background-color: $bgc-button-disabled;
    color: #ffffff85;
    cursor: auto;
  }

  &:hover {
    opacity: 1;
  }
}