@import '../../styles/options.scss';
  
.navbar {
  &__list {
    padding: 45px 0;
    display: flex;
    gap: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: $colorText;
    display: none;
  }

  &__item {
    cursor: pointer;
    padding-right: 10px;
    border-right: 1px dashed grey;

    &:last-child {
      opacity: .5;
      padding-right: 0;
      border-right: none;

      &:hover {
        opacity: 1;
      }
    }
  }
  &__mobile {
    padding: 45px 0;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__mobile-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #FFCA65;
    opacity: 0.3;
    border-radius: 100px;
    transform: rotate(90deg);
  }
}

@media ( min-width: 700px ) {
  .navbar {
    &__mobile {
      display: none;
    }

    &__list {
      display: flex;
    }
  }
}
  