@import '../../styles/options.scss';

.filter-item {
  width: 23%;
  line-height: 50px;
  padding: 0 15px;
  border: 2px solid $colorElementHeaderHover;
  border-radius: 5px;
  background-color: rgb(71, 61, 104);
  position: relative;
  cursor: pointer;

  &__title {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__body {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    padding: 15px;
    left: 0;
    top: 50px;
    border: 2px solid $colorElementHeaderHover;
    border-radius: 5px;
    background-color: rgb(71, 61, 104);

    &::-webkit-scrollbar {
      width: 12px;
    }
    
    &::-webkit-scrollbar-track {
      background: rgb(126, 109, 182);
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: rgb(71, 61, 104);
      border-radius: 20px;
      border: 3px solid rgb(126, 109, 182);
    }
  }

  &__item_active {
    color: #fff;
  }
}

@media (max-width: 880px) {
  .filter-item {
    width: 48%;
  }
}
@media (max-width: 500px) {
  .filter-item {
    width: 100%;
  }
}